# Отчет по результатам прогона авто-тестов

Общее количество тест-кейсов — **50**.

![image](https://i.gyazo.com/9297c3e0f2e982fca767780b6c366979.png)

Из них:
- успешных оказалось **26** кейсов → **48%**; 
- не прошли 24 тест-кейса → **52%**.

------------

## UI-тесты
- Позитивных тест-кейсов: **4** (HappyPath1 и 2);
- Негативных: **46** (FieldNumberTests, FieldMonthTests, FieldYearTests, FieldOwnerTests, FieldCVVTests).

![image](https://i.gyazo.com/69bd8768776e5c1c9559e5bc33efa1fb.png)

------------

## API-тесты
Проведено 4 API-теста, все прошли **успешно**.

![image](https://i.gyazo.com/fb51ae7686176dd32ce978210766ebd8.png)

------------

По всем выявленным дефектам заведены [**Issues**](https://github.com/Yuditskiy-o/QA-Diploma/issues).
